@import url("font-face.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "NotoSansTC-Thin";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  background-color: #F8F8F8;
}

.container {
  margin: 0 auto;
  max-width: 1244px;
}

.clearfix {
  clear: both;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.blocks-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 9px;
}

.blocks-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 56px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.carousel-btn.next-btn {
  right: 0;
}

.carousel-btn i {
  position: absolute;
  top: 46%;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 46px;
}

#fixed-top {
  max-height: 30px;
  background-color: #250944;
}

#fixed-top #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

#fixed-top a {
  padding: 8px 11px;
  color: white;
}

#fixed-top a:nth-child(1) {
  padding-left: 0;
}

#fixed-top a:nth-child(1) i {
  font-size: 15px;
  margin-right: 4px;
}

#func-top {
  max-height: 120px;
  background-color: #D4F1F5;
}

#func-top .func {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .6fr auto 1fr;
      grid-template-columns: .6fr auto 1fr;
  padding: 27px 0 57px 0;
}

#func-top .logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#func-top .logo-name .logo-img {
  display: inline-block;
}

#func-top .logo-name img {
  max-width: 90px;
  width: auto;
}

#func-top .logo-name h3 {
  display: inline-block;
  margin: 0px 0px 8px 2px;
  color: #232A32;
  font-size: 16px;
  font-family: "NotoSansTC-Medium";
}

#func-top .input-wrap {
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: #5CC5E2;
  height: 36px;
  width: 550px;
  padding: 1px;
}

#func-top input[type="text"] {
  height: 100%;
  width: 100%;
  border: 0;
  outline-color: #5CC5E2;
  padding: 13px;
  font-size: 14px;
}

#func-top #search {
  margin-right: 54px;
}

#func-top #search .search-btn {
  height: 35px;
  width: 82px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "NotoSansTC-Medium";
}

#func-top #search .search-btn.search-prod {
  margin-right: 6px;
  background-color: #5CC5E2;
  color: white;
  border: 0;
}

#func-top #search .search-btn.search-store {
  background-color: #F0EFF5;
  border-color: #E0DFE5;
  border-style: solid;
}

#user-func div {
  display: inline-block;
}

#user-func span {
  color: #4DAAD3;
  font-size: 13px;
  font-family: "NotoSansTC-Regular";
}

#user-func .my-store::after {
  content: "|";
  color: #4DAAD3;
  margin: 0px 2px;
}

#user-func .icon-user-wrap {
  display: inline-block;
  margin: 0px;
  background-color: #AAADB6;
  height: 25px;
  width: 25px;
  text-align: center;
}

#user-func .icon-user-wrap .icon-user {
  color: white;
}

#user-func .order-wrap .icon-wpforms {
  color: #4DAAD3;
  font-size: 22px;
}

main div.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

#sidebar ul {
  margin: 15px;
}

#sidebar ul:last-child {
  border: 0;
}

#sidebar ul li:last-child {
  border-bottom: 1px solid #bbb;
}

#sidebar ul a {
  display: inline-block;
  padding: 6px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #4D4D4D;
  font-family: "NotoSansTC-Regular";
}

#sidebar .category-menu li:last-child {
  padding-bottom: 20px;
}

#sidebar .recom h4 {
  padding: 0px 6px;
  margin: 0px;
  color: #60BC97;
}

#sidebar .pic-ad p {
  margin: 6px 0px 25px 0px;
  font-size: 13px;
  font-family: "NotoSansTC-Regular";
}

#sidebar .pic-ad li {
  margin-top: 12px;
  border-bottom: 1px solid #bbb;
}

#sidebar .pic-ad li:first-child {
  margin-top: 0px;
}

#sidebar .pic-ad li:last-child {
  border: 0;
}

#top-carousel {
  margin-bottom: 18px;
}

#top-carousel .wrap {
  position: relative;
}

#top-carousel .slide-box {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}

#top-carousel .slide-box a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#top-carousel .slide-box.active {
  display: block;
}

#content .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #bbb;
  padding: 9px 0px;
}

#content .head .page-text {
  font-size: 10px;
}

#content h3 {
  margin: 0px;
}

#content h5 {
  margin: 12px 0px;
  font-size: 14px;
  color: #4D4D4D;
  font-family: "NotoSansTC-Regular";
}

#sale {
  margin-bottom: 22px;
}

#personal-recom {
  margin-bottom: 22px;
}

#personal-recom .slide-box {
  position: relative;
}

#personal-recom .block-1-3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}

#personal-recom .rows-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  grid-gap: 10px;
}

#personal-recom .blocks-4 {
  margin: 0px 10px;
}

#personal-recom p {
  display: inline-block;
  width: 100px;
  padding: 0px 10px;
  max-width: 100%;
  font-size: 14px;
}

#personal-recom .watson-icon {
  color: #FACF33;
}

#personal-recom .sale-icon {
  margin-right: 3px;
  padding: 0px 3px;
  border: 1px solid #E3E2E7;
  border-radius: 3px;
  color: #FF926A;
}

#fashion h3 {
  color: #E980B8;
}
/*# sourceMappingURL=main.css.map */