@import url('font-face.css');

$gray-text: #4D4D4D;
$divider-color: #bbb;
$section-fashion-color: #E980B8;
$section-digital-color: #6F8DAF;
$section-life-color: #B67F47;

// global
* {
	box-sizing: border-box;
	font-family: "NotoSansTC-Thin";
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	width: 100%;
	background-color: #F8F8F8;
}
.container {
	margin: 0 auto;
	max-width: 1244px;
}
.clearfix {
	clear: both;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
.d-grid {
	display: grid;
}
.blocks-2 {
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8px;
}
.blocks-3 {
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 8px;
}
.blocks-4 {
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 8px;
}
.blocks-6 {
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 8px;
}
.rows-2 {
	grid-template-rows: 2;
	grid-gap: 8px;
}
.btn {
	cursor: pointer;
}
.carousel-btn {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 56px;
	height: 84px;
	background-color: rgba(0, 0, 0, 0.3);
	&.next-btn {
		right: 0;
	}
	i {
		position: absolute;
		top: 46%;
		left: 48%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 46px;
	}
}
.ellipses-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.icon-box {
	color: #FACF33;
}
// sections
#fixed-top {
	background-color: #250944;
	#nav {
		font-size: 12px;
	}
	a {
		display: inline-block;
		padding: 4px 11px;
		color: white;
		&:nth-child(1) {
			padding-left: 0;
			i {
				font-size: 15px;
				margin-right: 4px;
			}
		}
	}
}
#func-top {
	max-height: 120px;
	background-color: #D4F1F5;
	.func {
		display: grid;
		grid-template-columns: 1fr 4.5fr auto;
		padding: 27px 0 57px 0;
	}
	.logo-name {
		display: flex;
		align-items: center;
		.logo-img {
			display: inline-block;
		}
		img {
			max-width: 90px;
			width: auto;
		}
		h3 {
			display: inline-block;
			margin: 0px 0px 8px 2px;
			color: #232A32;
			font-size: 16px;
			font-family: "NotoSansTC-Medium";
		}
	}
	#search {
		// margin-right: 54px;
		.input-wrap {
			display: inline-block;
			border-style: solid;
			border-width: thin;
			border-radius: 3px;
			border-color: #5CC5E2;
			height: 36px;
			// width: 550px;
			width: 73%;
			padding: 1px;
		}
		input[type="text"] {
			height: 100%;
			width: 100%;
			border: 0;
			outline-color: #5CC5E2;
			padding: 13px;
			font-size: 14px;
		}
		.search-btn {
			height: 35px;
			width: 82px;
			border-radius: 5px;
			font-family: "NotoSansTC-Medium";
			&.search-prod {
				margin-right: 6px;
				background-color: #5CC5E2;
				color: white;
				border: 0;
			}
			&.search-store {
				background-color: #F0EFF5;
				border-color: #E0DFE5;
				border-style: solid;
			}
		}	
	}
}
#user-func {
	div { 
		display: inline-block;
	}
	span {
		color: #4DAAD3;
		font-size: 13px;
		font-family: "NotoSansTC-Regular";
	}
	.my-store::after {
		content: "|";
		color: #4DAAD3;
		margin: 0px 2px;
	}
	.icon-user-wrap {
		display: inline-block;
		margin: 0px;
		background-color: #AAADB6;
		height: 25px;
		width: 25px;
		text-align: center;
		.icon-user {
			color: white;
		}
	}
	.order-wrap {
		.icon-wpforms {
			color: #4DAAD3;
			font-size: 22px;
		}
	}
}
// main
main div.container {
	display: grid;
	grid-template-columns: auto 1fr;
}
#sidebar {
	ul {
		padding: 8px 16px;
		&:last-child {
			border: 0;
		}
		li:last-child {
			border-bottom: 1px solid $divider-color;
		}
		a {
			display: inline-block;
			padding: 5px 6px;
			width: 100%;
			height: 100%;
			font-size: 14px;
			color: $gray-text;
			font-family: "NotoSansTC-Medium";
		}
	}
	.category-menu, .recom {
		li:last-child {
			padding-bottom: 20px;
		}
	}
	.recom {
		h4 {
			padding: 0px 6px;
			margin: 0px;
			color: #60BC97;
		}
	}
	.pic-ad {
		p {
			margin: 6px 0px 25px 0px;
			font-size: 13px;
			font-family: "NotoSansTC-Regular";
		}
		li {
			margin-top: 12px;
			border-bottom: 1px solid $divider-color;
			&:first-child {
				margin-top: 0px;
			}
			&:last-child {
				border: 0;
			}
		}
	}
}
#top-carousel {
	margin-bottom: 18px;
	.slide-box {
		display: none;
		position: relative;
		top: 0;
		left: 0;
		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
		&.active {
			display: block;
		}
	}
}
#content {
	.head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		border-bottom: 1px solid $divider-color;
		margin-top: 12px;
		padding: 9px 0px;
		.page-text, .ad-contact {
			font-size: 10px;
			color: $gray-text;
		}
		.ad-contact::after {
			content: '|';
			margin-left: 3px;
		}
	}
	h3 {
		margin: 0px;
	}
	h5 {
		margin: 12px 0px;
		font-size: 15px;
		color: $gray-text;
		font-family: "NotoSansTC-Regular";
	}
	.carousel-wrap {
		position: relative;
	}
	section .carousel-wrap {
		margin: 8px 0px;
		.block-1-3 {
			&:first-child {
				position: relative;
				a {
					display: none;
					&.active {
						display: block;
					}
				}
			}
			&:last-child .prod-info-pane {
				background-color: #fff;
			} 
		}
		.carousel-dots {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: center;
		}
		.carousel-dot {
			display: inline-block;
			height: 12px;
			width: 12px;
			margin: 12px 6px;
			background-color: rgba(#fff, .5);
			border-radius: 50%;
			&.active {
				background-color: #fff;
			}
		}
		p.pane-subtitle {
			color: $gray-text;
		}
	}
	.block-product {
		position: relative;
		display: block;
	}
	.prod-info-pane {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 8px;
		background-color: rgba(#fff, .7);
		&.bg-white {
			display: grid;
			grid-template-rows: auto auto 23px auto; // TODO:
			font-size: 9px;
			.pane-item-name {
				grid-row-start: 1;
			}
			.pane-original-price {
				grid-row-start: 2;
			}
			.pane-sale-price {
				grid-row-start: 3;
				font-size: 8px;
				.event-tag {
					margin-right: 3px;
					border: 1px solid #F9C637;
					padding: 0px 3px;
					color: #F8CA30;
				}

			}
			.pane-store-name {
				grid-row-start: 4;
				font-size: 11px;
				color: #AEB3B9;
				font-family: "NotoSansTC-Regular";
			}
			.sold-price {
				color: red;
				font-size: 16px;
				font-family: "NotoSansTC-Medium";
			}
		}
		h4.pane-title, p.pane-subtitle, .pane-item-name, .pane-original-price, .pane-sale-price, .pane-store-name {
			margin: 0;
		}
		h4.pane-title {
			font-size: 15px;
			font-family: "NotoSansTC-Regular";
		}
		p.pane-subtitle {
			font-size: 12px;
		}
		.pane-item-name, .pane-original-price {
			font-size: 13px;
			color: #636363;
			font-family: "NotoSansTC-Regular";
		}
	}
}
#personal-recom {
	margin-bottom: 22px;
	.slide-box {
		position: relative;
	}
	.block-1-3 {
		background-color: white;
	}
	.rows-2 {
		grid-gap: 10px;
	}
	.blocks-4 {
		margin: 0px 10px;
	}
	p {
		display: inline-block;
		padding: 0px 10px;
		max-width: 100%;
		font-size: 14px;
	}
	.sale-icon {
		margin-right: 3px;
		padding: 0px 3px;
		border: 1px solid #E3E2E7;
		border-radius: 3px;
		color: #FF926A;
	}
}
#fashion {
	h3, h4.pane-title {
		color: $section-fashion-color;
	}
	#brands-row {
		display: flex;
	}
}
#digital {
	h3, h4.pane-title {
		color: $section-digital-color;
	}
}
#life {
	h3, h4.pane-title {
		color: $section-life-color;
	}
}
#promo {
	margin: 30px 0px;
}
#themes {
	.theme {
		padding: 0px 16px 35px 16px;
		background-color: #fff;
		h3 {
			margin: 20px 0;
		}
	}
	.theme-content {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 16px;
	}
	.keywords a {
		display: inline-block;
		padding-right: 6px;
		font-size: 14px;
		color: $gray-text;
	}
}
footer {
	padding: 20px;
	.info-title {
		font-size: 15px;
		font-family: "NotoSansTC-Medium";
	}
	li, a, .icon-ok {
		color: $gray-text;
	}
	a {
		font-size: 13px;
		font-family: "NotoSansTC-Regular";
	}
	.icon-ok {
		font-size: 30px;
		color: #BCBCBC;
	}
	#promises {
		text-align: center;
		h5 {
			margin: 7px 0px;
		}
		p {
			font-size: 12px;
		}
	}
}

// RWD
@media (max-width: 1024px) {
}
@media (max-width: 900px) {
}
@media (max-width: 768px) {
}
@media (max-width: 720px) {
}
@media (max-width: 480px) {
}
@media (min-width: 320px) and (max-width: 350px) {
}